:root {
  --signal-blue: #154889; /* RAL 5005 */
  --azure-blue: #2E5978; /* RAL 5009 */
  --turquoise: #21888F; /* RAL 5018 */
  --pearl-gentian-blue:  	#296478; /* 5025 */
  --signal-red: #C1121C; /* RAL 3020 */
  --black-brown: #211F20; /* RAL 8022 */
  --cream: #EFEBDC; /* RAL 9001 */
  --signal-black: #2E3032; /* RAL 9005 */ 
  --jet-black: #0A0A0D; /* RAL 9005 */
  --jetbrains-mono: 'JetBrains Mono';
}

* {
  font-size: 16px;
  font-family: var(--jetbrains-mono), monospace;
}

html {
  max-width: 800px;
  margin: 0 auto;
  background: var(--jet-black);
  color: var(--cream);
}

a {
  color: var(--turquoise);
  font-weight: bold;
}

img {
  border: none;
}

p {
  margin-top: 0px;
  text-align: justify;
}

pre {
  background-color: var(--black-brown);
  border: 2px solid var(--signal-black);
  border-radius: 0.5ch;
  padding: 1ch;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
  display: block;
  white-space: pre;
}

code {
  background-color: var(--signal-black);
  border-radius: 0.5ch;
  padding: 0.3ch;
}

img.pixel, canvas.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

blockquote {
  margin-top: 1ch;
  font-style: normal;
  color: #cccccc;
  white-space: normal;
}

blockquote div {
│ margin-top: 1em;
│ font-style: normal;
│ color: var(--black-brown);
│ white-space: normal;
}

@media (max-width: 500px) {
  * {
    font-size: 14px;
  }
}
